<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<location path="custom">
   <system.web>
      <authorization>
         <allow roles="Administrators" /> 
         <deny users="*" />
      </authorization>
   </system.web>
</location>
<location path="includes">
   <system.web>
      <authorization>
         <allow roles="Administrators" /> 
         <deny users="*" />
      </authorization>
   </system.web>
</location>
<location path="src">
   <system.web>
      <authorization>
         <allow roles="Administrators" /> 
         <deny users="*" />
      </authorization>
   </system.web>
</location>
<location path="vendor">
   <system.web>
      <authorization>
         <allow roles="Administrators" /> 
         <deny users="*" />
      </authorization>
   </system.web>
</location>
<location path="temp">
   <system.web>
      <authorization>
         <allow roles="Administrators" /> 
         <deny users="*" />
      </authorization>
   </system.web>
</location>
    <system.webServer>
        <rewrite>
			<rewriteMaps configSource="Web.RewriteMaps.config"/>
            <rules>
                <clear />
                <rule name="Force non-WWW and SSL" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                        <add input="{HTTP_HOST}" pattern="^(www\.)(.*)$" />
                        <add input="{HTTPS}" pattern="off" />
                    </conditions>
                    <action type="Redirect" url="https://robertherdermessen.nl/{R:1}" appendQueryString="true" redirectType="Permanent" />
                </rule>
                <rule name="Imported Rule 2" enabled="true">
                    <match url="^.*$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{SCRIPT_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                        <add input="{SCRIPT_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="./index.php" />
                </rule>
				<rule name="Old Page Redirects" stopProcessing="true">
				  <match url=".*"/>
				  <conditions>
					<add input="{OldPages:{REQUEST_URI}}" pattern="(.+)"/>
				  </conditions>
				  <action type="Redirect" url="{C:1}" appendQueryString="false" redirectType="Permanent"/>
				</rule>
				
                <rule name="molenmessen-aanbiedingen" stopProcessing="true" enabled="false">
                    <match url="(.*)" ignoreCase="true" />
                    <action type="Redirect" url="https://robertherdermessen.nl/Schilmessen/Set%20aanbiedingen%20carbonstaal/{R:1}" redirectType="Permanent" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="https://robertherdermessen.nl/molenmessen-aanbiedingen-c-41.html" />
                    </conditions>
                </rule>		
				<rule name="Redirect mysite" enabled="false" stopProcessing="true">
                    <match url="^molenmessen-aanbiedingen-c-41.html$" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^https://www\.robertherdermessen\.nl$" />
                    </conditions>
                    <action type="Redirect" url="https://robertherdermessen.nl/Schilmessen/Set%20aanbiedingen%20carbonstaal/{R:1}" />
                </rule>		
				<rule name="Molenmessen aanbiedingen redirect" enabled="false" stopProcessing="true">
					<match url="(.*)" ignoreCase="true" />
					<conditions>
                        <add input="{HTTP_HOST}" pattern="www.robertherdermessen.nl/molenmessen-aanbiedingen-c-41.html" />
                        <add input="{HTTP_HOST}" pattern="robertherdermessen.nl/molenmessen-aanbiedingen-c-41.html" />
					</conditions>
					<action type="Redirect" url="https://robertherdermessen.nl/Schilmessen/Set%20aanbiedingen%20carbonstaal/{R:1}" appendQueryString="true" redirectType="Permanent" />
				</rule>
            </rules>
        </rewrite>
        <httpErrors>
            <remove statusCode="403" subStatusCode="-1" />
            <error statusCode="403" prefixLanguageFilePath="" path="https://robertherdermessen.nl" responseMode="Redirect" />
        </httpErrors>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
